<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>All Books</title>
</head>
<body>
    <div class="w-full h-full bg-gray-900 p-10 text-white">
        <a class="text-blue-500 mb-10" href="/">< Back to Home</a>
        <h1 class="text-3xl tracking-tighter mb-3">Book Collection</h1>
        <div class="books flex gap-3 flex-wrap">
            <% if(books.length > 0 ){ %>
                <% books.forEach(function(book){ %>
                    <div class="book w-72 p-10 bg-gray-800 rounded-lg">
                        <img class="w-full h-72 object-cover rounded-lg" src="<%= book.image %>">
                        <h3 class="text-xl mt-3"><%= book.title %></h3>
                        <p class="text-gray-400">Author: <%= book.author %></p>
                        <p class="text-gray-400">Genre: <%= book.genre %></p>
                        <p class="text-gray-400">Published Year: <%= book.publishedYear %></p>
                        <div class="flex gap-3 mt-10">
                            <a class="text-blue-500" href="/edit/<%= book._id %>">Edit</a>
                            <a class="text-red-500" href="/delete/<%= book._id %>">Delete</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="text-gray-400">No books found.</h3>
            <% } %>
        </div>
    </div>
</body>
</html>
